version: '3.8'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: langgraph
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: pg_isready -U postgres
      interval: 5s
      timeout: 1s
      retries: 5

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: redis-cli ping
      interval: 5s
      timeout: 1s
      retries: 5

  agent:
#    build: .
    image: agent:latest
    ports:
      - "8000:8000"
    environment:
      DATABASE_URI: "postgresql://postgres:postgres@postgres:5432/langgraph?sslmode=disable"
      REDIS_URI: "redis://redis:6379"
      LANGSMITH_API_KEY: "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"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy